$primary: #7c72e7;
$primary-dark: #0215c0;
$primary-ligth: #9f97fb;
$primary-opacity: #b0aaf1;
$primary-ligthest: #d7d4f7;

$white: #fcfcfc;
$green: #33f046;
$red: #ff0000;
$black: #000000;

$text-black: #000000;
$text-white: #ffffff;
$text-gray: #cdcaca;

$gray-border: #a4a4a4;

$font-size-base: 1rem !default;
$font-size-xs: ($font-size-base * 0.75) !default;
$font-size-sm: ($font-size-base * 0.875) !default;
$font-size-md: ($font-size-base * 1) !default;
$font-size-lg: ($font-size-base * 1.125) !default;
$font-size-xl: ($font-size-base * 1.25) !default;
$font-size-xxl: ($font-size-base * 1.5) !default;
$font-size-xxxl: ($font-size-base * 1.75) !default;

$font-size-title-base: 1.5rem !default;
$font-size-title-xs: ($font-size-title-base * 0.75) !default;
$font-size-title-sm: ($font-size-title-base * 0.875) !default;
$font-size-title-md: ($font-size-title-base * 1) !default;
$font-size-title-lg: ($font-size-title-base * 1.125) !default;
$font-size-title-xl: ($font-size-title-base * 1.25) !default;
$font-size-title-xxl: ($font-size-title-base * 1.5) !default;
$font-size-title-xxxl: ($font-size-title-base * 1.75) !default;

$font-size-icon-base: 2rem !default;
$font-size-icon-xs: ($font-size-icon-base * 0.75) !default;
$font-size-icon-sm: ($font-size-icon-base * 0.875) !default;
$font-size-icon-md: ($font-size-icon-base * 1) !default;
$font-size-icon-lg: ($font-size-icon-base * 1.125) !default;
$font-size-icon-xl: ($font-size-icon-base * 1.25) !default;
$font-size-icon-xxl: ($font-size-icon-base * 1.5) !default;
$font-size-icon-xxxl: ($font-size-icon-base * 1.75) !default;

$radius-base: 1rem !default;
$radius-xs: ($radius-base * 0.75) !default;
$radius-sm: ($radius-base * 0.875) !default;
$radius-md: ($radius-base * 1) !default;
$radius-lg: ($radius-base * 1.125) !default;
$radius-xl: ($radius-base * 1.25) !default;
$radius-xxl: ($radius-base * 1.5) !default;
$radius-xxxl: ($radius-base * 1.75) !default;
